<!DOCTYPE html>
<html>
<head>
  <title>AddUser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| %>
  <div class="page-header">
  <% if msg.is_a?(String) %>
    <div style="color:red">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %> 
</div>
<% end %>
<%= yield %>

</body>
</html>
